h1{
    font-size: 1.5rem;
}
.countdown{
    text-align: center;
    font-size: 3rem;
}

#question{
    text-align: center;
    font-size: 3rem;
}
form{
    text-align: center;
    margin-top: 1rem;
}
.start{
    text-align: center;
}
#starter{
    margin-top: 2rem;
    height: 2rem;
    width: 5rem;
    border-style: groove;
    border-radius: 20%;
    background-color: green;
    color: aliceblue;
}